.searchContainer {
  margin: 10px 0 0;
  padding: 20px;
  background-color: #f5f5f5;
}
.searchContainer select {
  width: 150px;
  height: 32px;
  padding-left: 10px;
  border: 1px solid #e6e6e6;
}
.searchContainer input {
  line-height: 28px;
  border: 1px solid #e6e6e6;
}
.searchContainer input[type=text] {
  width: 350px;
  margin-left: 40px;
  padding-left: 10px;
}
.searchContainer input[type=button] {
  font-weight: bold;
  width: 80px;
  margin-left: -5px;
  text-align: center;
  background: linear-gradient(top, #fefefe, #f2f2f2);
  background: -moz-linear-gradient(top, #fefefe, #f2f2f2);
  background: -webkit-linear-gradient(top, #fefefe, #f2f2f2);
}
.keyTitle {
  font-weight: bold;
  line-height: 36px;
  height: 36px;
  padding-left: 30px;
  color: #fff;
  background: #00aeef;
}
.brandIndex a {
  font-size: 14px;
  color: #333;
}
.brandIndex .select {
  font-weight: bold;
}
.brandItem {
  min-height: 1000px;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}
.brandItem li {
  height: 125px;
  border-bottom: 1px solid #e6e6e6;
}
.brandItem li .logoWrapper {
  display: inline-block;
  width: 200px;
  padding: 0 10px;
}
.brandItem li .logo {
  display: table-cell;
  overflow: hidden;
  width: 200px;
  height: 125px;
  text-align: center;
  vertical-align: middle;
}
.brandItem li .logo img {
  max-width: 200px;
  max-height: 125px;
}
.brandItem li .description {
  display: inline-block;
  width: 978px;
  margin-top: 20px;
  vertical-align: top;
}
.brandItem li a {
  font-weight: bold;
  color: #333;
}
