@mainColor: #00AEEF;
@borderColor: #e6e6e6;
@pageWidth: 1200px;
@sidebarWidth: 180px;
@emphasesColor: #d73c38;
@subFontColor: #555;
.CartTopic
{
    margin: 20px 0;
}
.cartIcon
{
    font-size: 18px;
    font-weight: normal;

    float: left;

    vertical-align: bottom;

    color: #e40000;
}
.point
{
    line-height: 30px;

    float: right;

    height: 30px;
}
.point .CartCrumbs
{
    line-height: 30px;

    float: left;

    height: 30px;
}
.point span
{
    font-size: 14px;
    line-height: 30px;

    float: left;

    height: 30px;

    text-align: center;

    color: #000;
}
.point .Number
{
    font-size: 20px;

    margin-right: 5px;
    margin-left: 18px;
    padding: 0 9px;

    color: #fff;
    border-radius: 50%;
    background-color: #d0d0d0;
}
.point .select span
{
    color: @emphasesColor;
}
.point .select .Number
{
    color: #fff;
    background-color: @emphasesColor;
}
// .Content
// {
//     padding: 0 20px 20px 20px;

//     border: 1px solid #ededed;
// }

// .CartTable
// {
//     width: 100%;
//     margin: 20px 0;

//     border-collapse: collapse;
// }
// .CartTable thead
// {
//     border-top: 2px solid #ff9509;
//     background-color: #f5f5f5;
// }
// .CartTable tr td
// {
//     padding: 5px 5px;

//     text-align: center;
//     text-align: left;
// }
// .CartTable thead td
// {
//     font-size: 14px;

//     padding: 8px 2px;
// }
// .CartTable tr td input
// {
//     padding: 4px 2px;
// }
// .CartTable tbody  tr
// {
//     border-bottom: 1px dotted #ccc;
// }
// .CartTable tbody  tr td
// {
//     padding: 10px 0;
// }
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.cartTable{
    input{
        height: 20px;
        border: 1px solid @borderColor;
    }
    .imgWrapp{
        width: 80px;
        padding: 2px 0;
        img{
            width: 72px;
            height: 72px;
            vertical-align: bottom;
            border: 1px solid @borderColor;
        }
    }
}
.settle
{
    height: 30px;
    margin: 20px 0;
    padding: 20px 5px;
}
.selectDele
{
    float: left;
}
.selectDele a,
.settleButton span
{
    font-size: 12px;
    line-height: 30px;

    margin-right: 20px;
}
.selectDele a
{
    padding: 5px 10px;

    text-decoration: underline;
}
.settleButton
{
    float: right;
}
.settleButton span strong
{
    font-size: 18px;

    color: @emphasesColor;
}
.settleButton a
{
    font-size: 18px;

    padding: 6px 30px;

    color: #fff;
    background-color: #ff9509;
}


.NoticeItem
{
    margin-top: 50px;
    padding: 5px 20px;

    border-top: 5px solid #eee;
    background-color: #fcfcfc;
}
.NoticeItem li
{
    line-height: 20px;

    margin: 20px 0;

    color: @subFontColor;
}
.NoticeItem li strong
{
    color: @emphasesColor;
}
.price
{
    color: @emphasesColor;
}
#error_msg
{
    color: @emphasesColor;
}
.pageTitle h2{
    margin: 10px 0;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
}
/*新增地址begin*/
.frameEdit
{
    margin-top: 20px;

    color: #555;
    border: 1px solid @borderColor;
    li
    {
        margin: 12px 0;
        label
        {
            display: inline-block;

            width: 130px;
            padding-right: 10px;

            text-align: right;
        }
        input
        {
            margin: 0 7px;
            padding: 5px;

            border: 1px solid #ddd;
        }
        input[type='checkbox']
        {
            width: 18px;
            height: 18px;
            margin: 0 0 0 30px;

            vertical-align: middle;
        }
        .saveBtn
        {
            width: 160px;
            margin: 10px 0 10px 148px;
            padding: 0;

            border: 0;
        }
    }
}
.linkBtn
{
    margin-left: 20px;

    color: #0029ff;
}
.region
{
    width: 383px;
    margin-left: 7px;
    padding: 5px 0;

    border: 1px solid #e5e5e5;
}
.error_msg
{
    padding-left: 148px;

    // color: @emphasesColor;
}
/*新增地址end*/
/*收件地址 begin*/
.changeAddressBtn
{
    display: none;

    width: 100px;
    padding: 5px 15px;

    text-align: center;

    color: #fff;
    border-radius: 5px;
    background: #ff9509;
    &:hover
    {
        background: #f9a638;
    }
}
.addReceiptAddress,
.changeAddress
{
    display: none;
}
.select_mt
{
    font-size: 14px;
    font-weight: bold;

    margin: 30px 0 8px 0;
    margin-top: 20px;
    padding-bottom: 5px;

    color: @emphasesColor;
    border-bottom: 3px solid #f0f0f0;
}
.select_mt a
{
    font-size: 14px;

    color: #0079db;
}
.addressList
{
    display: inline-block;
    width: 371px;
    height: 154px;
    line-height: 22px;

    margin: 10px 0 10px 10px;
    padding: 10px;

    border: 1px solid #333;
    background-color: #fff;
    vertical-align: top;
    &:hover
    {
        background-color: #EEF3FA;
    }
     li span
    {
        margin: 0 8px;
    }
    //  li a
    // {
    //     margin-left: 10px;
    // }
     label
    {
        display: inline-block;

        margin-right: 5px;

        text-align: right;
        font-weight: bold;
    }
     span
    {
        display: inline-block;

        margin-right: 25px;
    }
}
.addressList.select
{
    background: #EEF3FA url('/static/img/icon_choose.png') no-repeat 350px 5px;
}
.noMargin{
    margin-left: 0;
}
.manageAddress{
    margin-bottom: 30px;
    text-align: right;
    a{
        text-decoration: underline;
        font-size: 16px;
    }
}
/*收件地址end*/

// #addressBox .btnContainer
// {
//     text-align: right;
// }
.confirmBtn,.deleteBtn{
    font-size: 16px;
    line-height: 36px;

    display: inline-block;

    width: 160px;
    height: 38px;
    margin-right: 10px;

    text-align: center;

    border-radius: 3px;
}

/*提交成功popup begin*/
#submitSuccessDialog{
    display: none;
    .successContent
    {
        margin-top: -10px;
        padding: 0 20px 10px;
        text-align: center;
        img{
            margin-bottom: 20px;
            vertical-align: bottom;
        }
        p{
            line-height: 32px;
            font-size: 18px;
            text-align: left;
            color: @subFontColor;
        }
    }
}
/*提交成功popup end*/