#productTable {
  width: 100%;
  border-collapse: collapse;
}
#productTable th,
#productTable tr,
#productTable td {
  padding: 5px 10px;
}
#productTable thead tr + tr td {
  padding: 0;
}
#productTable thead {
  color: #fff;
  background-color: #00aeef;
}
#productTable .tr-image img {
  vertical-align: middle;
  border: solid 1px #eee;
}
.imgContainer {
  display: inline-block;
  margin-left: 10px;
  border: 1px solid #e6e6e6;
}
.imgContainer img {
  vertical-align: bottom;
}
