@mainColor: #2476ea;
@pageWidth: 1200px;
@borderColor: #e6e6e6;
@emphasesColor: #d73c38;
@subFontColor: #555;
@grayBgColor: #f2f2f2;
@grayFont: #999;
@blueMain: #2476ea;
@splidline: #d9d9d9;
h2
{
    margin: 15px auto;
    font-size: 24px;
    font-weight: 500;
    line-height: 44px;
    height: 44px;

    color: @grayFont;
    text-align: center;
}
#main{
    position: relative;
    width: auto;
    margin: auto;
}
#site-nav
{
    margin: 0;
}
#header
{
    text-align: center;
}
.bannerWrapper
{
    // overflow: hidden;

    margin-bottom: 50px !important;
    min-height: 300px;
    text-align: center;
}
*
{
    zoom: 1;
}
.fullSlide
{
    position: relative;
    // background:#000; 
    margin: 0 auto;
    .bd
    {
        position: relative;
        z-index: 0;
    }
    .bd li
    {
        text-align: center;
    }
    .bd li img
    {
        max-width: 100%;
        max-height: 300px;

        vertical-align: top;
    }
    .hd
    {
        line-height: 30px;

        position: absolute;
        z-index: 1;
        bottom: -20px;
        left: 50%;

        width: 480px;
        height: 30px;
        margin-left: -600px;

        // text-align: center;
    }
    .hd ul
    {
        padding-top: 5px;

        text-align: left;
    }
    .hd ul li
    {
        font-size: 0;

        display: inline-block;
        overflow: hidden;
        zoom: 1;

        width: 110px;
        height: 4px;
        margin: 5px;

        cursor: pointer;

        // border-radius: 4px;
        background: #ccc;

        *display: inline;
    }
    .hd ul .on
    {
        background: @mainColor;
    }
}
.logoWrap{
    margin: 20px auto;
}
#header{
    .nav {
        .navTab{
            font-size: 22px;
            font-weight: 500;
        }
        .highlight{
            text-decoration: underline;
        }

    }
}
.quickInquiryCont{
    position: absolute;
    top: -80px;
    left:50%;
    margin-left: -80px;
    width: 680px;
    height: 70px;
    background: #fff;
    box-shadow: 2px 2px 5px #aaa;
    span{
        display: inline-block;
        float: left;
        width: 90px;
        line-height: 70px;
        font-weight: bold;
        font-size: 16px;
        padding-left: 32px;
    }
    .contactCont{
        margin: 10px 25px;
        float: left;
        width: 260px;
        vertical-align: top;
        a{
            display: inline-block;
            margin: 0 6px;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            background: #538dbe url('/static/img/icon_contact_sprite.png') 12px 6px no-repeat;
        }
        .oicq{
            background-position: 12px -34px;
        }
        .email{
            background-position: 12px -74px;
        }
        .kefu{
            background-position: 12px -114px;
        }
    }
    .quickInquiryBtn{
        float: left;
        display: inline-block;
        width: 248px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        background: @mainColor;
        vertical-align: top;
        .iconQuickInquiry{
            display: inline-block;
            margin-right: 10px;
            width: 20px;
            height: 23px;
            background: url('/static/img/icon_quick inquiry.png');
            vertical-align: middle;
        }
    }
}
.blockContainer{
    margin: 40px auto 20px;
    height: 540px;
    background-color: @grayBgColor;
    .categoryWrapper{
        float: left;
        width: 280px;
        height: 435px;
        .categoryContainer{
            display: block;
            width: 280px;
        }
        .categoryList{
            height: 340px;
            z-index: 0;
        }
        .subCategoryList{
            width: 860px;
        }
    }
    .hotProductWrapper{
        margin: 0 auto;
        padding-top: 1px;
        height: 435px;
        li{
            font-size: 12px;
            float: left;
            box-sizing: border-box;
            width: 290px;
            //border: 1px solid #e6e6e6;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            margin-right: 10px;
            cursor: pointer;
            overflow: hidden;
        }
    }
}
/*hotProductViews start*/
.hotProductViews
{
    .hotProductInfo
    {
        position: relative;
        background-color: #f2f2f2;
        border-top: 1px solid #e6e6e6;
        padding: 10px;
        text-align: center;
        h4{
            color:#000;
            font-size: 16px;
        }
        b{
            font-size: 14px;
            color:@grayFont;
            display: inline-block;
            margin: 5px 0;
        }
        .description{
            color:@grayFont
        }
    }
    .imgWrapp
    {
        vertical-align: top;
        border-bottom: 2px solid @blueMain;
        position: relative;
        &:hover{
            span{
                background-color:#ff6659;
            }
        }
        span{
            position: absolute;
            padding: 8px 10px;
            bottom: 10px;
            left: 66px;
            font-size: 16px;
            color:#fff;
            background: @blueMain;
        }
        img
        {
            width: 288px;
            height: 288px;
            display: block;
        }
    }
    li
    {
        font-size: 12px;

        float: left;
        box-sizing: border-box;
        width: 292px;
    }
}
.hotProductCategory{
    background-color: #f2f2f2;
    border-bottom: 1px solid @splidline;
    line-height: 35px;
    height: 35px;
    text-align: center;
    color: #999;
    font-size: 16px;
}

/*hotProductViews end*/
/*Products start*/
#tabHeadPanel .panel
{
    display: none;
}
.products
{
    margin: 20px auto 40px;
}
.productsChoose
{
    //height: 44px;
    //background: #999;
    // border-bottom: 1px solid @borderColor;
    text-align: center;
}
.productsChoose li
{
    // border-bottom: 2px solid @borderColor;
    // float: left;
    font-size: 16px;
    display: inline-block;
    margin: 5px 15px;
    background: @grayBgColor;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    color: @grayFont;
    position: relative;
    i{
        position: absolute;
        width: 15px;
        height: 15px;
        left: 48%;
        bottom:-14px;
        background: url('/static/img/icon_arrow_blue.png') center -10px no-repeat;
        display: none;
    }
    &.tabSelect{
        color:#fff;
        background-color: @blueMain;
        i{
            display: block;
        }
    }
}
.productsChoose .endItem
{
    width: 186px;
    margin-right: 0;
}
.productItem
{
    line-height: 24px;
    display: inline-block;
    width: 194px;
    margin: 20px 55px 10px 0;
    border: 1px solid #fff;
    p,h3
    {
        padding: 0 10px;
    }
    .title
    {
        line-height: 18px;
        overflow: hidden;
        max-height: 36px;
        color: @subFontColor;
    }
    // .title a{
    //     color:#204e8a;
    // }
   .price
    {
        font-size: 16px;
       font-weight: 600;
        color: #333;
    }
    img
    {
        width: 192px;
        height: 192px;

        border: 1px solid @borderColor;
    }
    &:hover
    {
        border: 1px solid @borderColor;
        box-shadow: 0 0 4px #aaa;
        img
        {
            border-color: #fff;
        }
    }
}
.productItem.noMargin
{
    margin-right: 0;
}
/*Products end*/
/*specialProduct start*/
#sp-img{
    width:220px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    img{
        width: 100%;
    }
}
.specialProduct
{
    overflow: hidden;
    margin: 0;
    h2{
        text-align: center;
        color: #999;
        font-weight: 500;
        border-bottom: 1px solid @splidline;
    }
    a:hover
    {
        text-decoration: underline;

        color: @mainColor;
    }
    .specialProductContainer
    {
        overflow: hidden;

        margin-bottom: 20px;
    }
    .specialProductContainer1,
    .specialProductContainer2
    {
        display: flex;

        width: 640px;
        // height: 320px;

        background: #fff;
        border-right: 1px solid @borderColor;
        .sp-p{
            width: 430px;
            padding: 5px 0;
            p{
                padding-left: 35px;
                display: flex;
                line-height: 2em;
                font-weight: bold;
                color: @grayFont;
                a{
                    display: inline-block;
                    width: 200px;
                    text-decoration: none;
                }
                span{
                    margin: 0 0 0 20px;
                    color: @grayFont
                }
                &:hover{
                    background: url('/static/img/arrow-r.png') no-repeat 15px center ;
                    a{color: @blueMain;}
                    span{
                        color: #ff5647;
                    }
                }
            }
        }
    }
    .specialProductContainer2
    {
        margin-left: 14px;
    }
    .tabProduct
    {
        line-height: 24px;

        float: left;
        overflow: hidden;

        width: 220px;
    }
    .tabProduct a
    {
        display: inline-block;

        margin-right: 5px;
    }
    .tabProduct img
    {
        width: 218px;
        height: 220px;

        border: 1px solid @borderColor;
    }
    .name
    {
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        color: #333;
    }
    .price
    {
        font-size: 14px;
        color: @emphasesColor;
    }
    .moreItem
    {
        line-height: 24px;

        float: left;
        overflow: hidden;

        width: 325px;
        height: 310px;
        margin: 0 0 12px 14px;
        p{
            height: 31px;
        }
        span,
        a
        {
            font-size: 12px;
            line-height: 30px;

            display: inline-block;
            overflow: hidden;

            width: 150px;
            margin-left: 10px;
        }
    }
}
/*taspecialProductb end*/

.newsWrapper{
    margin-left: 20px;
    width: 535px;
    padding:1px;
    h2{
        text-align: center;
        color: #999;
        font-weight: 500;
        border-bottom: 1px solid @splidline;
    }
    .newsList{
        padding: 20px 0;
        margin-bottom: 10px;
        background: #666;
        min-height: 200px;
        li{
            line-height: 1.5em;
            margin-left: 42px;
            margin-bottom: 10px;
            font-size: 14px;
            list-style-image: url(/static/img/news-style-img.png);
            color: #fff;
            a{
                color: #fff;
            }
        }
    }
}

/*brandOverview start*/
.brandOverview
{
    margin: 20px auto;
    padding: 15px 0 45px;
    background: #F2F2F2;
    h2
    {
        position: relative;
        a
        {
            position: absolute;
            top: 12px;
            right: 0;
            height: 28px;
            line-height: 28px;
            background: @mainColor;
            color: #fff;
            border-radius: 4px;
            padding: 0 8px;
        }
    }
    .brandList
    {
        overflow: hidden;

        width: 1194px;
        margin: auto;

        border-top: 1px solid #F2F2F2;
        border-right: 1px solid #F2F2F2;
        background: #fff;
    }
    .brandList li
    {
        line-height: 22px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        text-align: center;
        vertical-align: bottom;
        box-sizing: border-box;
        a{
            display: flex;
            width: 199px;
            justify-content: center;
            align-items: center;
            margin: 5px 0px;
            vertical-align: top;
            height: 135px;
            overflow: hidden;
            &:hover{
                //box-shadow: 0 0 10px rgba(60,60,60,.5) inset;
                background: #f2f6ff;
            }
        }
    }
    .brandList li span
    {
        font-size: 14px;
        color: #333;
    }
    .brandList li img
    {
        width: 140px;
        height: 50px;
    }
}
.brandSlide{
    position: relative;
    .prev {
        display: inline-block;
        position: absolute;
        top: 45%;
        width: 32px;
        height: 40px;
        filter: alpha(opacity=50);
        opacity: 0.5;
        left: -15px;
        background: url(/static/img/arrow-left-blue-bold.png) no-repeat;
    }
    .next {
        display: inline-block;
        position: absolute;
        right: -15px;
        top: 45%;
        width: 32px;
        height: 40px;
        background: url(/static/img/arrow-right-blue-bold.png) no-repeat;
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
}
/*BrandOverview end*/
/*Buyer Protection Policy begin*/
.policyViews
{
    overflow: hidden;
    h2
    {
        color: @grayFont;
        margin: 15px auto 30px;
        border-bottom: 1px solid @borderColor;
    }
    .policyList
    {
        overflow: hidden;

        margin: auto;
        padding: 0 0 25px;
        // border: 1px solid @borderColor;
        .spliceLine{
            width: 50%;
            border-bottom: 1px solid green;
            margin: 10px auto;
        }
    }
    li
    {
        float: left;
        display: flex;
        flex-wrap: wrap;
        width: 180px;
        margin-right: 24px;
        &:last-child{
            margin-right: 0;
        }
        img
        {
            vertical-align: bottom;
            margin: 0 auto;
        }
        .policyTitle
        {
            margin-top: 15px;
            line-height: 24px;
            font-size: 18px;
            width: 100%;
            font-weight: 600;
            font-family: 'Tahoma';
            text-align: center;
            color: @grayFont;
        }
        .description
        {
            font-size: 14px;
            width: 100%;
            font-family: 'Tahoma';
            line-height: 15px;
            font-weight: 400;
            text-align: center;
            color: @grayFont;
        }
    }
}
/*Buyer Protection Policy end*/

/*SearchWarp start*/
.searchWarp{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    .search{
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .title {
            span{
                color: @grayFont;
                font-size: 18px;
                position: relative;
                padding: 5px;
                margin-left: 25px;
                font-weight: 600;
                cursor: pointer;
                display: inline-block;
                margin-bottom: -2px;
                z-index: 10;
                border-bottom: 2px solid #CCC;
                &.sele{
                    color:@mainColor;
                    border-bottom-color: @mainColor;
                }
            }
        }
        .searchInput{
            width: 100%;
            margin-left: 10px;
            height: 40px;
            line-height: 40px;
            box-sizing: border-box;
            padding: 0 0 0 10px;
            border: 2px solid #CCC;
        }
        .btn-search{
            position: absolute;
            display: inline-block;
            width: 40px;
            height: 40px;
            right: 0px;
            bottom: 0px;
            background: url('/static/img/btn-search.png') center center no-repeat;
        }
    }
    .inquiry-talk{
        font-size: 18px;
        width: 20%;
        margin: 0 15px;
        display: flex;
        flex-wrap: wrap;
        .title {
            width: 100%;
            height: 33px;
            span{
                color: @grayFont;
                font-size: 18px;
                margin-left: 15px;
                font-weight: 600;
            }
        }
        .inquiry_bg{
            background: #383431 url('/static/img/talk.png') 20px center no-repeat;
            width: 100%;
            height: 42px;
            cursor: pointer;
            padding-left: 70px;
            box-sizing: border-box;
            span{
                color: @mainColor;
                font-weight: 600;
                font-size: 18px;
                line-height: 40px;
            }
        }
    }
    .h-talk-us{
        font-size: 18px;
        width: 20%;
        margin: 0 15px;
        display: flex;
        flex-wrap: wrap;
        .title {
            width: 100%;
            height: 33px;
            span{
                color: @grayFont;
                font-size: 18px;
                margin-left: 15px;
                font-weight: 600;
            }
        }
        a{
            display: inline-block;
            width: 48px;
            height: 48px;
            background: url('/static/img/talk2us1.png') no-repeat;
            &.oicq{
                background-position: -62px 0;
            }
            &.email{
                background-position: -123px 0;
            }
            &.kefu{
                background-position: -184px 0;
            }
        }
    }
}
/*SearchWarp end*/