h2 {
  margin: 15px auto;
  font-size: 24px;
  font-weight: 500;
  line-height: 44px;
  height: 44px;
  color: #00aeef;
  text-align: center;
}
#main {
  position: relative;
  width: auto;
  margin: auto;
}
#site-nav {
  margin: 0;
}
#header {
  text-align: center;
}
.bannerWrapper {
  height: 420px;
  text-align: center;
}
* {
  zoom: 1;
}
.fullSlide {
  position: relative;
  margin: 0 auto;
}
.fullSlide .bd {
  position: relative;
  z-index: 0;
}
.fullSlide .bd li {
  text-align: center;
}
.fullSlide .bd li img {
  max-width: 100%;
  max-height: 300px;
  vertical-align: top;
}
.fullSlide .hd {
  line-height: 30px;
  position: absolute;
  z-index: 1;
  bottom: -20px;
  left: 50%;
  width: 480px;
  height: 30px;
  margin-left: -600px;
}
.fullSlide .hd ul {
  padding-top: 5px;
  text-align: left;
}
.fullSlide .hd ul li {
  font-size: 0;
  display: inline-block;
  overflow: hidden;
  zoom: 1;
  width: 110px;
  height: 4px;
  margin: 5px;
  cursor: pointer;
  background: #ccc;
  *display: inline;
}
.fullSlide .hd ul .on {
  background: #00aeef;
}
.logoWrap {
  margin: 20px auto;
}
#header .nav .navTab {
  font-size: 22px;
  font-weight: 500;
}
#header .nav .highlight {
  text-decoration: underline;
}
.quickInquiryCont {
  position: absolute;
  top: -80px;
  left: 50%;
  margin-left: -80px;
  width: 680px;
  height: 70px;
  background: #fff;
  box-shadow: 2px 2px 5px #aaa;
}
.quickInquiryCont span {
  display: inline-block;
  float: left;
  width: 90px;
  line-height: 70px;
  font-weight: bold;
  font-size: 16px;
  padding-left: 32px;
}
.quickInquiryCont .contactCont {
  margin: 10px 25px;
  float: left;
  width: 260px;
  vertical-align: top;
}
.quickInquiryCont .contactCont a {
  display: inline-block;
  margin: 0 6px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #538dbe url('/static/img/icon_contact_sprite.png') 12px 6px no-repeat;
}
.quickInquiryCont .contactCont .oicq {
  background-position: 12px -34px;
}
.quickInquiryCont .contactCont .email {
  background-position: 12px -74px;
}
.quickInquiryCont .contactCont .kefu {
  background-position: 12px -114px;
}
.quickInquiryCont .quickInquiryBtn {
  float: left;
  display: inline-block;
  width: 248px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: #00aeef;
  vertical-align: top;
}
.quickInquiryCont .quickInquiryBtn .iconQuickInquiry {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 23px;
  background: url('/static/img/icon_quick inquiry.png');
  vertical-align: middle;
}
.blockContainer {
  margin: 40px auto 20px;
  height: 540px;
  background-color: #f2f2f2;
}
.blockContainer .categoryWrapper {
  float: left;
  width: 280px;
  height: 435px;
}
.blockContainer .categoryWrapper .categoryContainer {
  display: block;
  width: 280px;
}
.blockContainer .categoryWrapper .categoryList {
  height: 340px;
  z-index: 0;
}
.blockContainer .categoryWrapper .subCategoryList {
  width: 860px;
}
.blockContainer .hotProductWrapper {
  margin: 0 auto;
  padding-top: 1px;
  height: 435px;
}
.blockContainer .hotProductWrapper li {
  font-size: 12px;
  float: left;
  box-sizing: border-box;
  width: 290px;
  border: 1px solid #e6e6e6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  overflow: hidden;
}
/*hotProductViews start*/
.hotProductViews .hotProductInfo {
  position: relative;
  background-color: #f2f2f2;
  border-top: 1px solid #e6e6e6;
  height: 60px;
  padding: 10px;
}
.hotProductViews .imgWrapp {
  vertical-align: top;
}
.hotProductViews .imgWrapp img {
  width: 288px;
  height: 288px;
}
.hotProductViews .viewMore {
  display: block;
  background-color: #008fd5;
  font-weight: 700;
  padding: 8px 0;
  text-align: center;
  color: #fff;
  cursor: pointer;
  line-height: 28px;
  margin: -1px;
}
.hotProductViews li {
  font-size: 12px;
  float: left;
  box-sizing: border-box;
  width: 292px;
  border-bottom: 1px solid #e6e6e6;
}
.hotProductCategory {
  background-color: #f2f2f2;
  border-bottom: 1px solid #d9d9d9;
  line-height: 35px;
  height: 35px;
  text-align: center;
  color: #999;
  font-size: 16px;
}
/*hotProductViews end*/
/*Products start*/
#tabHeadPanel .panel {
  display: none;
}
.products {
  margin: 20px auto 40px;
}
.productsChoose {
  text-align: center;
}
.productsChoose li {
  font-size: 16px;
  display: inline-block;
  margin: 5px 15px;
  background: #f2f2f2;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  color: #999999;
  position: relative;
}
.productsChoose li i {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 48%;
  bottom: -14px;
  background: url('/static/img/icon_arrow_blue.png') center -10px no-repeat;
  display: none;
}
.productsChoose li.tabSelect {
  color: #fff;
  background-color: #2476ea;
}
.productsChoose li.tabSelect i {
  display: block;
}
.productsChoose .endItem {
  width: 186px;
  margin-right: 0;
}
.productItem {
  line-height: 24px;
  display: inline-block;
  width: 194px;
  margin: 20px 55px 10px 0;
  border: 1px solid #fff;
  /* .price
    {
        font-size: 16px;

        color: @emphasesColor;
    }*/
}
.productItem p {
  padding: 0 10px;
}
.productItem .title {
  line-height: 18px;
  overflow: hidden;
  height: 36px;
  color: #555555;
}
.productItem img {
  width: 192px;
  height: 192px;
  border: 1px solid #e6e6e6;
}
.productItem:hover {
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 4px #aaa;
}
.productItem:hover img {
  border-color: #fff;
}
.productItem.noMargin {
  margin-right: 0;
}
/*Products end*/
/*specialProduct start*/
#sp-img {
  width: 220px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
#sp-img img {
  width: 100%;
}
.specialProduct {
  overflow: hidden;
  margin: 0;
}
.specialProduct h2 {
  text-align: center;
  color: #999;
  font-weight: 500;
  border-bottom: 1px solid #d9d9d9;
}
.specialProduct a:hover {
  text-decoration: underline;
  color: #00aeef;
}
.specialProduct .specialProductContainer {
  overflow: hidden;
  margin-bottom: 20px;
}
.specialProduct .specialProductContainer1,
.specialProduct .specialProductContainer2 {
  display: flex;
  width: 640px;
  background: #fff;
  border-right: 1px solid #e6e6e6;
}
.specialProduct .specialProductContainer1 .sp-p,
.specialProduct .specialProductContainer2 .sp-p {
  width: 430px;
  padding: 5px 0;
}
.specialProduct .specialProductContainer1 .sp-p p,
.specialProduct .specialProductContainer2 .sp-p p {
  display: flex;
}
.specialProduct .specialProductContainer1 .sp-p p span,
.specialProduct .specialProductContainer2 .sp-p p span {
  margin: 0 0 0 50px;
}
.specialProduct .specialProductContainer2 {
  margin-left: 14px;
}
.specialProduct .tabProduct {
  line-height: 24px;
  float: left;
  overflow: hidden;
  width: 220px;
}
.specialProduct .tabProduct a {
  display: inline-block;
  margin-right: 5px;
}
.specialProduct .tabProduct img {
  width: 218px;
  height: 220px;
  border: 1px solid #e6e6e6;
}
.specialProduct .name {
  display: inline-block;
  font-size: 14px;
  color: #333;
}
.specialProduct .price {
  font-size: 14px;
  color: #d73c38;
}
.specialProduct .moreItem {
  line-height: 24px;
  float: left;
  overflow: hidden;
  width: 325px;
  height: 310px;
  margin: 0 0 12px 14px;
}
.specialProduct .moreItem p {
  height: 31px;
}
.specialProduct .moreItem span,
.specialProduct .moreItem a {
  font-size: 12px;
  line-height: 30px;
  display: inline-block;
  overflow: hidden;
  width: 150px;
  margin-left: 10px;
}
/*taspecialProductb end*/
.newsWrapper {
  margin-left: 20px;
  width: 535px;
  padding: 1px;
}
.newsWrapper h2 {
  text-align: center;
  color: #999;
  font-weight: 500;
  border-bottom: 1px solid #d9d9d9;
}
.newsWrapper .newsList {
  padding: 20px 0;
  margin-bottom: 10px;
  background: #666;
  min-height: 200px;
}
.newsWrapper .newsList li {
  line-height: 1.5em;
  margin-left: 42px;
  margin-bottom: 10px;
  font-size: 14px;
  list-style-image: url(/static/img/news-style-img.png);
  color: #fff;
}
.newsWrapper .newsList li a {
  color: #fff;
}
/*brandOverview start*/
.brandOverview {
  margin: 20px auto;
  padding: 15px 0 45px;
  background: #F2F2F2;
}
.brandOverview h2 {
  position: relative;
}
.brandOverview h2 a {
  position: absolute;
  top: 12px;
  right: 0;
  height: 28px;
  line-height: 28px;
  background: #00aeef;
  color: #fff;
  border-radius: 4px;
  padding: 0 8px;
}
.brandOverview .brandList {
  overflow: hidden;
  width: 1194px;
  margin: auto;
  border-top: 1px solid #F2F2F2;
  border-right: 1px solid #F2F2F2;
  background: #fff;
}
.brandOverview .brandList li {
  line-height: 22px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
  vertical-align: bottom;
  box-sizing: border-box;
}
.brandOverview .brandList li a {
  display: flex;
  width: 199px;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
  vertical-align: top;
  height: 135px;
  overflow: hidden;
}
.brandOverview .brandList li a:hover {
  background: #f2f6ff;
}
.brandOverview .brandList li span {
  font-size: 14px;
  color: #333;
}
.brandOverview .brandList li img {
  width: 140px;
  height: 50px;
}
.brandSlide {
  position: relative;
}
.brandSlide .prev {
  display: inline-block;
  position: absolute;
  top: 45%;
  width: 32px;
  height: 40px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  left: -15px;
  background: url(/static/img/arrow-left-blue-bold.png) no-repeat;
}
.brandSlide .next {
  display: inline-block;
  position: absolute;
  right: -15px;
  top: 45%;
  width: 32px;
  height: 40px;
  background: url(/static/img/arrow-right-blue-bold.png) no-repeat;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
/*BrandOverview end*/
/*Buyer Protection Policy begin*/
.policyViews {
  overflow: hidden;
  padding: 15px 0;
}
.policyViews h2 {
  color: #999999;
  margin: 15px auto;
}
.policyViews .policyList {
  overflow: hidden;
  margin: auto;
  padding: 0 0 25px;
}
.policyViews li {
  float: left;
  width: 180px;
  margin-right: 24px;
}
.policyViews li:last-child {
  margin-right: 0;
}
.policyViews li img {
  vertical-align: bottom;
}
.policyViews li .policyTitle {
  margin-top: 10px;
  line-height: 24px;
  font-size: 16px;
  font-family: 'Tahoma';
  color: #fff;
}
.policyViews li .description {
  font-size: 14px;
  font-family: 'Tahoma';
  line-height: 20px;
  margin-top: 8px;
  color: #E4F0F9;
}
/*Buyer Protection Policy end*/
