h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.boxPage {
  padding: 30px 0 0;
}
.boxDetail {
  margin: 0 0 15px;
}
.boxDetail li {
  margin-bottom: 12px;
}
.boxDetail li label {
  font-size: 14px;
  display: inline-block;
  width: 150px;
  padding-right: 10px;
  text-align: right;
  color: #555555;
}
.boxDetail li a {
  font-size: 14px;
  margin-left: 10px;
  color: #0069ef;
}
.boxDetail li input {
  width: 300px;
  padding: 10px 15px;
  border: 1px solid #e5e5e5;
}
.boxDetail .region {
  width: 332px;
  padding: 9px 15px;
  border: 1px solid #e5e5e5;
}
.boxSave {
  margin-left: 162px;
}
.boxSave li {
  margin-bottom: 10px;
}
.boxSave li input {
  vertical-align: middle;
}
.boxSave .registerBtn,
.boxSave .loginBtn {
  width: 330px;
}
.btnPrimary {
  font-size: 14px;
  font-weight: bold;
  width: 160px;
}
.error_msg {
  padding-left: 162px;
  color: red;
}
.infoLeft {
  float: left;
}
.infoRight {
  float: right;
}
.loginWrapper {
  overflow: hidden;
}
.loginWrapper .boxSave li {
  position: relative;
}
.loginWrapper .boxSave li a {
  font-size: 14px;
}
.loginWrapper .boxSave .toRegisterBtn {
  position: absolute;
  right: 5px;
  text-decoration: underline;
}
.registerWrapper .infoRight {
  font-size: 14px;
  padding: 15px 20px;
  border: 1px solid #e6e6e6;
}
.registerWrapper .infoRight .toLoginBtn {
  line-height: 26px;
  width: 200px;
  margin-top: 10px;
}
