a {
  color: #00aeef;
}
.pagelist a {
  color: #333333;
  font-weight: bold;
  border: 1px solid #e6e6e6;
  border-radius: 0px;
}
.pagelist a.active,
.pagelist a:hover {
  color: #00aeef;
  border: 1px solid #00aeef;
  background: #fff;
  border-radius: 0px;
}
.btnPrimary {
  border: 1px solid #00aeef;
  background-color: #00aeef;
}
.btnPrimary:hover {
  background: #00bfef;
}
.topic {
  color: #fff;
  background: #999999;
}
.titleBg {
  background: #999999 !important;
}
.inquiryPopup h3 {
  color: #00aeef;
}
.inquiryPopup h3 i {
  background: url('/static/img/quick-inquiry-icon.png');
}
.inquiryPopup .title {
  color: #00aeef;
  background: #eaf1ff url('/static/img/icon_file.png') no-repeat 8px 6px;
}
.main-left .category dt {
  background: #00aeef;
}
.main-right h1 {
  color: #fff;
  background: #999999;
}
.main-right .catfiltertopitem span {
  color: #fff;
}
.main-right .catfiltersub li a {
  color: #333333;
}
.productList .pl_info .info a {
  color: #00aeef;
}
.listTitle span {
  color: #00aeef;
}
.SearchResults .typeItem,
.SearchResults .filterItem {
  border: 1px solid #e6e6e6;
  background-color: #f9f9f9;
}
.SearchResults .typeItem b,
.SearchResults .filterItem b {
  color: #00aeef;
}
.itemhead {
  background-color: #00aeef;
}
.down a {
  color: #00aeef;
}
#productTable thead {
  color: #999999;
  background-color: #fff;
  border-bottom: 2px solid #9c9c9c;
}
.sidebar dl dt {
  background-color: #00aeef;
}
.keyTitle {
  background: #00aeef;
}
